
@{
    ViewData["Title"] = "Exist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>لقد قمت بالتسجيل لحضور المؤتمر بنجاح. تسجيلكم مؤكد الان</h2>
<h2>يجب التوجه الى اقرب فرع للشركة وتسديد الرسوم والحصول على بطاقة الدخول لفعاليات المؤتمر</h2>
