@{
    ViewData["Title"] = "اتصل بنا";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    شركة رائد الخير<br />
    المنصور - بغداد - العراق<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>الدعم الفني:</strong> <a href="mailto:info@dxniraq2u.com">info@dxniraq2u.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
