
@model dxniraq2u2018.Models.HomeViewModel
@{
    ViewData["Title"] = "الرئيسة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3> @ViewData["UserAgent"]</h3>*@
<a href="/Products/Mobile"><button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-shopping-cart"></span>  التسوق الالكتروني </button></a>
<a href="/Branches"><button type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-list"></span>  فروع الشركة </button></a>
<a href="/Lectures/"><button type="button" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-calendar"></span>  المحاضرات وورش العمل </button></a>
<a href="/BlogPosts/SectionLists/1"><button type="button" class="btn btn-Default btn-lg btn-block"><span class="glyphicon glyphicon-globe"></span>  الاخبار </button></a>
<a href="/Account/Register"><button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-list-alt"></span>  تسجيل عضوية </button></a>
<a href="/Account/Login"><button type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-user"></span>  دخول الاعضاء </button></a>
<a href="https://www.facebook.com/dxniraq2u/"><button type="button" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-hand-right"></span>  الفيس يوك </button></a>
<a href="https://www.youtube.com/channel/UC8-HjP25o4XDXOjPU2hydkg/videos"><button type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-facetime-video"></span>  جديد المرئيات </button></a>
<a href="https://eworld.dxn2u.com/index.php"><button type="button" class="btn btn-Default btn-lg btn-block"><span class="glyphicon glyphicon-modal-window"></span>  نظام Eworld </button></a>


