<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <title>DXNIRAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Template CSS Files -->
    <link rel="stylesheet" type="text/css" href="../DXN/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/rtl.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/skins/green.css" />
    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" type="text/css" href="../DXN/js/plugins/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/js/plugins/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/js/plugins/revolution/css/navigation.css" />
    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="blue" href="../DXN/css/skins/blue.css" />
    <link rel="alternate stylesheet" type="text/css" title="blueviolet" href="../DXN/css/skins/blueviolet.css" />
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="../DXN/css/skins/goldenrod.css" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="../DXN/css/skins/green.css" />
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="../DXN/css/skins/magenta.css" />
    <link rel="alternate stylesheet" type="text/css" title="orange" href="../DXN/css/skins/orange.css" />
    <link rel="alternate stylesheet" type="text/css" title="purple" href="../DXN/css/skins/purple.css" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="../DXN/css/skins/red.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellow" href="../DXN/css/skins/yellow.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="../DXN/css/skins/yellowgreen.css" />
    <link rel="stylesheet" type="text/css" href="../DXN/css/styleswitcher.css" />
    <!-- Template JS Files -->
    <script type="text/javascript" src="../DXN/js/modernizr.js"></script>

    <script type="text/javascript">
        //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>

    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "0e742764-f0ac-4dd3-8b6e-f19e439f0cb1",
            });
        });
    </script>
</head>
<body class="rtl-version">
    <!-- Preloader Starts -->
    <div class="preloader" id="preloader">
        <div class="logopreloader">
            <img src="../img/logo-black.png" alt="logo-black">
        </div>
        <div class="loader" id="loader"></div>
    </div>
    <!-- Preloader Ends -->
    <!-- Page Wrapper Starts -->
    <div class="wrapper">
        <!-- Header Starts -->
        <header id="header" class="header">
            <div class="header-inner">
                <!-- Navbar Starts -->
                <nav class="navbar navbar-expand-lg p-0" id="singlepage-nav">
                    <!-- Logo Starts -->
                    <div class="logo">
                        <a data-toggle="collapse" data-target=".navbar-collapse.show" class="navbar-brand link-menu scroll-to-target" href="#mainslider">
                            <!-- Logo White Starts -->
                            <img id="logo-light" class="logo-light" src="../img/logo-white.png" alt="logo-light" />
                            <!-- Logo White Ends -->
                            <!-- Logo Black Ends -->
                            <img id="logo-dark" class="logo-dark" src="../img/logo-black.png" alt="logo-dark" />
                            <!-- Logo Black Ends -->
                        </a>


                    </div>
                    <!-- Logo Ends -->
                    <!-- Hamburger Icon Starts -->
                    <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span id="icon-toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                    <!-- Hamburger Icon Ends -->
                    <!-- Navigation Menu Starts -->
                    <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">

                        <ul class="nav-menu-inner mr-auto">
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#mainslider"><i class="fa fa-home"></i> Home</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#about"><i class="fa fa-user"></i> Member login</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#services"><i class="fa fa-cog"></i> Services</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#portfolio"><i class="fa fa-image"></i> Producta</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#team"><i class="fa fa-user"></i> Iraq Members</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#blog"><i class="fa fa-comments"></i> Blog</a></li>
                            <li><a data-toggle="collapse" data-target=".navbar-collapse.show" class="link-menu" href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
                        </ul>
                    </div>
                    <!-- Navigation Menu Ends -->
                </nav>
                <!-- Navbar Ends -->
            </div>
        </header>

        @RenderBody();


        <!-- Footer Section Starts -->
        <footer class="footer text-center">
            <!-- Container Starts -->
            <div class="container">
                <!-- Copyright Text Starts -->
                <p>Official website for Raed Alkhair DXN Iraq</p>
                <p>
                    &copy; All copyright reserved - Designed by  <a target="_blank" href="http://fnjan.net">Fnjan</a> | <a target="_blank" href="../Home/PrivacyPolicy">Privacy Policy</a>
                </p>
                @*<p align="left"><img src="../images/comodo_secure_seal_113x59_transp.png" alt="ssl" /></p>*@
                <!-- Copyright Text Ends -->
                <!-- Social Media Links Starts -->
                <div class="social-icons">
                    <ul class="social">
                        <li>
                            <a class="twitter" href="https://twitter.com/dxniraq2u" title="twitter"></a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.facebook.com/dxniraq2u/" title="facebook"></a>
                        </li>
                        <li>
                            <a class="google" href="#" title="google"></a>
                        </li>
                        <li>
                            <a class="skype" href="#" title="skype"></a>
                        </li>
                        <li>
                            <a class="instagram" href="#" title="instagram"></a>
                        </li>
                        <li>
                            <a class="linkedin" href="#" title="linkedin"></a>
                        </li>
                        <li>
                            <a class="youtube" href="https://www.youtube.com/channel/UC8-HjP25o4XDXOjPU2hydkg/videos" title="youtube"></a>
                        </li>
                    </ul>
                </div>
                <!-- Social Media Links Ends -->
            </div>
            <!-- Container Ends -->
        </footer>
        <!-- Footer Section Starts -->
        <!-- Back To Top Starts -->
        <div id="back-top-wrapper" class="d-none d-sm-block">
            <p id="back-top">
                <a href="index.html#top"><span></span></a>
            </p>
        </div>
        <!-- Back To Top Ends -->
    </div>
    <!-- Wrapper Ends -->
    <!-- Template JS Files -->
    <script type="text/javascript" src="../DXN/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBpN0oc0NeZv9JolJSIzQRNW9IkUOfKrxw"></script>
    <script type="text/javascript" src="../DXN/js/plugins/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/jquery.filterizr.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/jquery.singlePageNav.min.js"></script>
    <!-- Revolution Slider Main JS Files -->
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Revolution Slider Extensions -->
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../DXN/js/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- Main JS Initialization File -->
    <script type="text/javascript" src="../DXN/js/custom.js"></script>
    <!-- Revolution Slider Initialization Starts -->
    <script type="text/javascript">
        (function () {
            "use strict";
            var tpj = jQuery;
            var revapi4;
            tpj(document).ready(function () {
                if (tpj("#rev_slider").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider");
                } else {
                    revapi4 = tpj("#rev_slider").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "js/plugins/revolution/js/",
                        dottedOverlay: "none",
                        sliderLayout: "fullscreen",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "zeus",
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 600,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 90,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 90,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: false,
                                hide_onmobile: true,
                                hide_under: 600,
                                style: "metis",
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 30,
                                space: 5,
                                tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span>'
                            }
                        },
                        viewPort: {
                            enable: true,
                            outof: "pause",
                            visible_area: "80%"
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [600, 600, 500, 400],
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        hideThumbsOnMobile: "off",
                        autoHeight: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }
            });

            // GOOGLE MAP
            function init_map() {

                var myOptions = {
                    scrollwheel: false,
                    zoom: 6,
                    center: new google.maps.LatLng(33.311684, 44.364595),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);

                // --------------------------Erbil
                var marker = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(36.2004591, 44.0894918)
                });
                var infowindow = new google.maps.InfoWindow({
                    content: "<strong>Erbil</strong><br>شارع كسنزان قرب منزل الدكتور برهم صالح مقابل مجمع هيوا - نقال / 009647704858486<br>"
                });
                google.maps.event.addListener(marker, "click", function () {
                    infowindow.open(map, marker);
                });

                //----------------------------------Mousil

                var marker1 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(36.3816556, 43.1806062)
                });
                var infowindow1 = new google.maps.InfoWindow({
                    content: "<strong>Mousl</strong><br>شارع المصارف/ مقابل بيت ارشد الزيباري/ فوق تجهيزات غيث للاعراس /الاستاذ احمد المولى 009647738477966<br>"
                });
                google.maps.event.addListener(marker1, "click", function () {
                    infowindow1.open(map, marker1);
                });


                //----------------------------------Basra

                var marker2 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(30.5154629, 47.8359842)
                });
                var infowindow2 = new google.maps.InfoWindow({
                    content: "<strong>Basrah</strong><br>شارع الاستقلال/ الفرع المقابل الى مطعم الرميلة/ قرب مستشفى النور الاهلي/ مقابل عيادة الدكتور جواد / الاستاذ ابو العيس 009647800229989 / 009647722922969	<br>"
                });
                google.maps.event.addListener(marker2, "click", function () {
                    infowindow2.open(map, marker2);
                });


                //----------------------------------Mesan

                var marker3 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(31.8478483, 47.1504489)
                });
                var infowindow3 = new google.maps.InfoWindow({
                    content: "<strong>Missan</strong><br>شارع دجلة/ فرع ساحة المصطفى/ مقابل صيدلية الجوادين/ الطابق الثاني / الاستاذ عامر فالح نعمة 009647716867203	<br>"
                });
                google.maps.event.addListener(marker3, "click", function () {
                    infowindow3.open(map, marker3);
                });

                //----------------------------------Karkuk

                var marker4 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(35.4336715, 44.3651561)
                });
                var infowindow4 = new google.maps.InfoWindow({
                    content: "<strong>Kirkuk</strong><br>شارع القدس / قرب جامع الابرار/ مجاور كوفي الجادريه / الاستاذ نشوان 009647737227941	"
                });
                google.maps.event.addListener(marker4, "click", function () {
                    infowindow4.open(map, marker4);
                });
                //----------------------------------faloja

                var marker5 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(33.3551121, 43.7739356)
                });
                var infowindow5 = new google.maps.InfoWindow({
                    content: "<strong>Fallujah </strong><br>حي 7نيسان/ قرب تقاطع الكماليات/ خلف جمعية العبدلي/ عمارة اليمامه / الاستاذ وليد عبد الله فرج 009647827579009	<br>"
                });
                google.maps.event.addListener(marker5, "click", function () {
                    infowindow5.open(map, marker5);
                });
                //----------------------------------tikreet

                var marker6 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(34.591298, 43.6763544)
                });
                var infowindow6 = new google.maps.InfoWindow({
                    content: "<strong>Tikrit </strong><br>شارع الاربعين/ عمارة الصادق/ قرب جامع الهدى / الاستاذ البدر فتح الله 009647737919744		<br>"
                });
                google.maps.event.addListener(marker6, "click", function () {
                    infowindow6.open(map, marker6);
                });
                //----------------------------------ramady

                var marker7 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(33.42618179321289, 43.301246643066406)
                });
                var infowindow7 = new google.maps.InfoWindow({
                    content: "<strong>Ramadi</strong><br>مدخل شارع الاورزدي/ مقابل حلويات ابوعوف/بالقرب من مصور الخلود / الاستاذ أسعد وسمي حماد: 009647801816541		<br>"
                });
                google.maps.event.addListener(marker7, "click", function () {
                    infowindow7.open(map, marker7);
                });
                //----------------------------------baghdad/alathamya

                var marker8 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(33.2906418, 44.2914467)
                });
                var infowindow8 = new google.maps.InfoWindow({
                    content: "<strong>Adhamiyah </strong><br>الاعظمية شارع الضباط مجاور صيدلية المثلث مجمع المسار التجاري / 07722700221	<br>"
                });
                google.maps.event.addListener(marker8, "click", function () {
                    infowindow8.open(map, marker8);
                });
                //----------------------------------baghdad/almamun

                var marker9 = new google.maps.Marker({
                    map: map,
                    icon: "img/markers/green.png",
                    position: new google.maps.LatLng(33.3059093, 44.3303166)
                });
                var infowindow9 = new google.maps.InfoWindow({
                    content: "<strong>Baghdad HQ</strong><br>حي المأمون / الشارع العام / قرب مستشفى السلامة/ الاستاذ ظاهر : 096478116912510		<br>"
                });
                google.maps.event.addListener(marker9, "click", function () {
                    infowindow9.open(map, marker9);
                });

                // -------------------------End-------------
            }
            google.maps.event.addDomListener(window, "load", init_map);

        })(jQuery);</script>
    <!-- Revolution Slider Initialization Ends -->
    <script language="JavaScript" type="text/javascript">
        TrustLogo("https://dxniraq2u.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
    </script>
    <a href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b4ddf1391379020b95ef059/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>
</html>