@model dxniraq2u2018.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductNameArabic" class="control-label"></label>
                <input asp-for="ProductNameArabic" class="form-control" />
                <span asp-validation-for="ProductNameArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNameEnglish" class="control-label"></label>
                <input asp-for="ProductNameEnglish" class="form-control" />
                <span asp-validation-for="ProductNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PV" class="control-label"></label>
                <input asp-for="PV" class="form-control" />
                <span asp-validation-for="PV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SV" class="control-label"></label>
                <input asp-for="SV" class="form-control" />
                <span asp-validation-for="SV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescArabic" class="control-label"></label>
                <textarea asp-for="DescArabic" class="control-label"></textarea>
                <span asp-validation-for="DescArabic" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DescEnglish" class="control-label"></label>
                <textarea asp-for="DescEnglish" class="control-label"></textarea>
                <span asp-validation-for="DescEnglish" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MemberPrice" class="control-label"></label>
                <input asp-for="MemberPrice" class="form-control" />
                <span asp-validation-for="MemberPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryProductId" class="control-label"></label>
                <select asp-for="CategoryProductId" class="form-control" asp-items="ViewBag.CategoryProductId"></select>
                <span asp-validation-for="CategoryProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>

                <img src="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + Model.Image )" width="150" height="90" />

                <input type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-default" />


                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonMemberPrice" class="control-label"></label>
                <input asp-for="NonMemberPrice" class="form-control" />
                <span asp-validation-for="NonMemberPrice" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="BarCode" class="control-label"></label>
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
            });
        });
    </script>


    <script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            //language: 'ar_SA',
            plugins: "link",
            mode: "textareas",

            //plugins: "table,contextmenu,paste,-externalplugin"

        });</script>
}
