@model dxniraq2u2018.Models.PostMetric

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PostMetric</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteValue" class="control-label"></label>
                <input asp-for="VoteValue" class="form-control" />
                <span asp-validation-for="VoteValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="NotifyMe" /> @Html.DisplayNameFor(model => model.NotifyMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ReportType" class="control-label"></label>
                <select asp-for="ReportType" class="form-control"></select>
                <span asp-validation-for="ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

