@model dxniraq2u2018.Models.Post
@{
    ViewData["Title"] = "Create";
}
<h2>اضافة موضوع للمدونة</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <p>الرجاء الالتزام بشروط النشر أدناه للحصول على تقييم جيد ضمن معايير المدونات الناجحة </p>
        <ul>
            <li>
                أن تكون الكتابةُ باللغةِ العربية البيضاء بشكلٍ سليم وسلس ومفهوم من قبل الجميع.
            </li>
            <li>
                يجب ألا يتجاوز المحتوى تسعمئة كلمة ولايقل عن خمسين كلمة.
            </li>
            <li>
                يجب ألا يتجاوز العنوان عشرين كلمة ولايقل عن خمس كلمات.
            </li>
            <li>
                ألا تحتوي التدوينة على عباراتٍ تخالف أخلاقيات العمل في الشركة.
            </li>
            <li>
                ألا تتضمن إهانة للدول، أو للمؤسسات، أو الرموز ذات القيمة الاعتبارية.
            </li>
           
            <li>
                أن تكون الكتابة أصلية، وليست منسوخة عن مقالات أخرى.
            </li>
            <li>
                ألا تكون التدوينة قد نُشِرت سابقا في منصات، أو مواقع أخرى.
            </li>
            <li>
                يحق لإدارة الشركة إيقافَ المدونة، أو حذفَ تدوينةٍ تخالف الشروط أعلاه.
            </li>
        </ul>
        <form asp-action="CreateBlog" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                @*<label asp-for="CommunityId" class="control-label"></label>*@
                <select readonly asp-for="CommunityId" class="form-control" asp-items="ViewBag.CommunityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PostType" class="control-label"></label>
                <select asp-for="PostType" class="form-control" asp-items="Html.GetEnumSelectList<dxniraq2u2018.Models.Common.BlogPostType>()">
<option disabled selected>حدد نوع المنشور</option>
</select>
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    @Html.TextAreaFor(model => model.Body, new { rows = 10, cols = 50 })
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <a title="اضافة صورة" id="showimagediv"><span class="glyphicon glyphicon-picture"></span></a>
                <a title="اضافة ملف" id="showfilediv"><span class="glyphicon glyphicon-file"></span></a>

                <div id="imagediv" class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control-file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <input asp-for="Image" id="fileinput" class="form-control" />
                </div>

                <div id="filediv" class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input type="file" name="myfile1" id="file1" accept=".pdf,.doc,.docx,.xls,.txt,.ppt,.pptx" class="btn btn-default" />
                    <span asp-validation-for="File" class="text-danger"></span>
                    <input asp-for="File" id="fileinput1" class="form-control" />
                </div>
                @Html.TextAreaFor(model => model.Body, new { rows = 10, cols = 50, @class = "form-control", @maxlength = "5000" })
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input checked asp-for="IsCommentsAllowed" /> @Html.DisplayNameFor(model => model.IsCommentsAllowed)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublishRequest" /> @Html.DisplayNameFor(model => model.IsPublishRequest)
                    </label>
                </div>
            </div>

            <div class="form-group">

                <input type="submit" value="المراجعة النهائية قبل النشر" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#testdiv").hide();
            $('#chkStatus').change(function () {
                if ($('#chkStatus').is(':checked'))
                    $("#testdiv").fadeIn();
                else
                    $('#testdiv').fadeOut();
            });
        });

        $(function () {
            var $cb = $('#checkboxId');
            $('#dropdownlistId').change(function () {
                if (this.value == '2') {
                    $cb.prop('disabled', true);
                } else {
                    $cb.prop('disabled', false);
                }
            }).trigger('change');
        });
    </script>

    <script type="text/javascript">
        $("#imagediv").hide();
        $("#showimagediv").click(function () {
            $("#imagediv").slideToggle();
        });
    </script>

    <script type="text/javascript">
        $("#filediv").hide();
        $("#showfilediv").click(function () {
            $("#filediv").slideToggle();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
            });
        });

        $(document).ready(function () {
            $("#file1").change(function () {
                if ($("#file1").val() != "") {
                    $("#fileinput1").prop("value", $("#file1").val().split('\\').pop());
                }
            });
        });
    </script>

    @*<script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            //language: 'ar_SA',
            plugins: "link",
            mode: "textareas",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            toolbar: false,
            menubar: false,
            cleanup: true,
            paste_as_text: true,
            paste_word_valid_elements: "h1,h2,h3,b,strong,i,em"

            //plugins: "table,contextmenu,paste,-externalplugin"

        });</script>*@
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
